footer, footer a {
    font-weight: 400;
    text-decoration: none;
    color: #586069;
}

.react{
    color: #0080a3;
    font-weight: 600;
}

.github:visited {
    color: #586069;
}

.react:visited{
    color: #0080a3;
}

@media only screen and (max-width: 680px) {
    footer {
        font-size: small;
    }
}

