.formulario {
    max-width: 40%;
    margin: 30px auto;
    overflow: auto;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

@media only screen and (max-width: 680px) {
    .formulario {
        max-width: 90%;
        margin: 30px auto;
    }

    .btn-calcular{
        width: 100%;
    }
}